{% extends "base.html"%}

{% block content %}
    <h2>Listado de publicaciones</h2>
    {% for pub in publicacion_list %}
        <article style="margin-bottom: 20px;">
            <h3>{{ pub.titulo }}</h3>
            <p><small>Por: <strong>{{ pub.autor }}</strong> — {{ pub.fecha_publicacion }}</small></p>
            <a href="{% url 'publicaciones:detalle_publicacion' pub.pk %}">Leer publicación completa</a>
        </article>
    {% empty %}
        <p>No hay publicaciones disponibles aún.</p>
    {% endfor %}
{% endblock %}
