<!DOCTYPE html>
<html lang="es">
<head>
    <title>Portal de Publicaciones</title>
</head>
<body>
    <header>
        <h1>Portal Digital</h1>
    </header>
    <nav>
        <a href="{% url 'publicaciones:inicio' %}">Inicio</a> | 
        <a href="{% url 'publicaciones:lista_publicaciones' %}">Publicaciones</a>
    </nav>
    <hr>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <hr>
    <footer>
        <p>&copy; 2026 - Laboratorio de Programación y Lenguajes</p>
    </footer>
</body>
</html>
